---
import Base from '../layouts/Base.astro';
import site from '../content/site.json';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Products from '../components/sections/Products.astro';
import Promise from '../components/sections/Promise.astro';
import Origin from '../components/sections/Origin.astro';
import Reviews from '../components/sections/Reviews.astro';
import HowTo from '../components/sections/HowTo.astro';
import LocationFooter from '../components/sections/LocationFooter.astro';

const { brand, navigation, uberEats, hero, products, promise, origin, reviews, howTo, location, footer } = site;
---
<Base>
  <main class="min-h-screen pb-20 md:pb-0">
    <Header brand={brand} navigation={navigation} uberEats={uberEats} />
    <Hero hero={hero} uberEats={uberEats} />
    <Products products={products} uberEats={uberEats} />
    <Promise promise={promise} />
    <Origin origin={origin} uberEats={uberEats} />
    <Reviews reviews={reviews} />
    <HowTo howTo={howTo} uberEats={uberEats} />
    <LocationFooter brand={brand} location={location} footer={footer} />
  </main>

  <script type="module">
    import { trackEvent } from '../lib/analytics';

    const tracked = document.querySelectorAll('[data-track]');
    tracked.forEach((element) => {
      element.addEventListener('click', () => {
        const name = element.getAttribute('data-track');
        if (name) trackEvent(name);
      });
    });
  </script>
</Base>
